<!DOCTYPE html>
<html  data-ng-app="iid">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IID Generator by Georgy Bunin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.min.css">
    <script src="angular.min.js"></script>
</head>
<body data-ng-controller="mainCtrl">
    <a href="https://github.com/georgybu/IID_Generator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <div class="container">
        <h1>Israel ID generator and validator</h1>
        <input type="text" data-ng-model="iid" id="iid" data-ng-change="check()">
        <button data-ng-click="generate()">Generate</button>
        <p data-ng-if="checkStatus" class="status valid"> Valid</p>
        <p data-ng-if="!checkStatus" class="status invalid">Not valid</p>
        <h2>(by Georgy Bunin)</h2>
    </div>
    <script src="app.min.js"></script>
</body>
</html>
